<div>
    <h1>Budget</h1>
    <div>
      <a href="<%= new_user_session_path %>" class="login-button">Login</a>
      <a href="<%= new_user_registration_path %>" class="signup-button">Sign Up</a>
    </div>
  </div>